.App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav {
  padding-left: 13%;
  padding-right: 13%;
  height: 2.5rem;
}

main, footer, header {
  text-align: left;
  padding-left: 12%;
  padding-right: 12%;
}

/* Media query per schermi tra md e lg */
@media (min-width: 992px) and (max-width: 1200px) {
  main, footer, header {
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* Media query per schermi medi (md) */
@media (max-width: 992px) { /* Bootstrap md è a 992px */
  main, footer, header {
    padding-left: 6%;
    padding-right: 6%;
  }
}

/* Media query per schermi piccoli (sm) */
@media (max-width: 768px) { /* Bootstrap sm è a 768px */
  main, footer, header {
    padding-left: 4%;
    padding-right: 4%;
  }
}

header {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#news {
  padding: 16px;
}
#news h4 {
  font-weight: bold;
}
#news p {
  font-weight: bold;
  opacity: 0.5;
}



.buTabProfile,
.butProSec,
.butProGra {
  color: white;
  background-color: #0a66c2;
  border: none;
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.butProSec,
.butProGra {
  color: #0a66c2;
  background-color: white;
  border: 1px solid #0a66c2;
  font-weight: 500;
}

.butProSec:hover {
  background-color: #ebf4fd;
}

.butProGra {
  color: #181818;
  border: 1px solid #181818;
}

.butProGra:hover {
  background-color: #f3f3f3;
}

.bannerProfile {
  position: relative;
  height: 200px;
  background-color: gray;
}

.divAv {
  position: absolute;
  bottom: -40px;
  left: 30px;
}

.divCam {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  border-radius: 100%;
}

.divEdi {
  position: absolute;
  right: 10px;
}

.pTabProfile {
  font-size: 13px;
  color: gray;
}

/* footer style hover */
.divFooter a {
  text-decoration: none;
  color: #6c757d;
}

.divFooter a:hover {
  color: #0477f3 !important;
  text-decoration: underline;
}
.nav {
  --bs-nav-link-color: #575757 !important;
}

.navFs {
  font-size: 12px;
}
